{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock%}</title>
    <link href="{% static 'css/vgforum.css' %}" rel="stylesheet">
</head>
<body> 
    <header>
        <h1>VG Forum</h1>
        {% include "VGForum/version/includes/navbar.html" %} <!-- Navigation bar between versions (list.html) and form (create.html)-->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Version List</h2>
        <p>This is a list of all versions.</p>
    </div>
</body>
</html>