{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>

<header id="header">
    <span class="logo">Version Reviews</span>

    {% if request.user.is_authenticated %}
        {% include "includes/navbar.html" %}
    {% endif %}

    <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.username }},
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'accounts:login' %}">Log-in</a>
        {% endif %}
    </span>
</header>

<div id="content">
    {% block content %}{% endblock %}
</div>

{% block sidebar %}{% endblock %}

</body>
</html>
